<div>
    <a href="https://www.facebook.com/edu.ramirez.3572/" target="_blank"><img src="../../../assets/logofb.png" id="facebook"></a>
    <a href="https://twitter.com/ednramirez" target="_blank"><img src="../../../assets/logotw.png" id="twitter"></a>
    <a href="https://www.instagram.com/edu.ramirez1/" target="_blank"><img src="../../../assets/logoig.png" id="instagram"></a>
    <a href="https://www.last.fm/es/user/eduramirez87" target="_blank"><img src="../../../assets/logolast.png" id="lastfm"></a>
    <a href="https://www.linkedin.com/in/eduramirez645/" target="_blank"><img src="../../../assets/logolinkedin.png" id="linkedin"></a>
    <a href="https://github.com/deadour" target="_blank"><img src="../../../assets/logogit.png" id="github"></a>
</div>
