<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="bio"> 
        <img src="../../../assets/about/profilepic.jpg" class="img-fluid" id="profilepic">
        <h4 id="nombre">Eduardo M. Ramírez</h4>
        <p id="descripcion">Full Stack Developer Jr.</p>
        <p id="ubicacion">🇦🇷 Resistencia, Chaco</p>
    </div>
    
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="about">
        <span>
            <h2>Acerca de mi</h2>
            <p> Nací en Ciudad de Formosa, el 17 de julio de 2000.</p>
            <p> Estudio Ingeniería en Sistemas de Información en UTN FRRe.</p>
            <p> Hincha de Boca y fanático de Ciro y los Persas.</p>
            
        </span>
    </div>
</div>