.row{
    padding: 20px;
    border: 1.5px outset #000;
}

div{
    background-color: #3f5b95;}

#titulo{
    background-color: #7c9bb5;
    border: 1.5px outset #000;
}

#texto{
    color: #dde5e5;
    padding-left: 40px;
}  
