<div class="row">
    <h1 id="titulo">Skills</h1>
    <!--html -->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress id="circle"
        [percent]="65"
        [radius]="100"
        [imageSrc]="'../assets/skills/html.png'"
        [imageHeight]="90"
        [imageWidth]="90"
        [backgroundPadding]="1"
        [showImage]="true"
        [outerStrokeWidth]="16"
        [backgroundColor] = "'#ffffff'"
        [backgroundGradient] = true
        [backgroundOpacity]="0.5"
        [backgroundGradientStopColor] = "'#797272'"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
 <!--css -->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress id="circle"
        [percent]="45"
        [radius]="100"
        [imageSrc]="'../assets/skills/css.png'"
        [imageHeight]="90"
        [imageWidth]="70"
        [backgroundPadding]="1"
        [showImage]="true"
        [outerStrokeWidth]="16"
        [backgroundColor] = "'#ffffff'"
        [backgroundGradient] = true
        [backgroundOpacity]="0.3"
        [backgroundGradientStopColor] = "'#797272'"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
 <!--js-->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress id="circle"
        [percent]="20"
        [radius]="100"
        [imageSrc]="'../assets/skills/js.png'"
        [imageHeight]="100"
        [imageWidth]="100"
        [backgroundPadding]="1"
        [showImage]="true"
        [outerStrokeWidth]="16"
        [backgroundColor] = "'#ffffff'"
        [backgroundGradient] = true
        [backgroundOpacity]="0.5"
        [backgroundGradientStopColor] = "'#797272'"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
 <!--github -->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress id="circle"
        [percent]="55"
        [radius]="100"
        [imageSrc]="'../assets/skills/git.png'"
        [imageHeight]="90"
        [imageWidth]="90"
        [backgroundPadding]="1"
        [showImage]="true"
        [outerStrokeWidth]="16"
        [backgroundColor] = "'#ffffff'"
        [backgroundGradient] = true
        [backgroundOpacity]="0.5"
        [backgroundGradientStopColor] = "'#797272'"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
 <!--comp-->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress id="circle"
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/skills/grupal.png'"
        [imageHeight]="90"
        [imageWidth]="90"
        [backgroundPadding]="1"
        [showImage]="true"
        [outerStrokeWidth]="16"
        [backgroundColor] = "'#ffffff'"
        [backgroundGradient] = true
        [backgroundOpacity]="0.5"
        [backgroundGradientStopColor] = "'#797272'"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
 <!--ingles -->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress id="circle"
        [percent]="75"
        [radius]="100"
        [imageSrc]="'../assets/skills/eng.png'"
        [imageHeight]="90"
        [imageWidth]="90"
        [backgroundPadding]="1"
        [showImage]="true"
        [outerStrokeWidth]="16"
        [backgroundColor] = "'#ffffff'"
        [backgroundGradient] = true
        [backgroundOpacity]="0.5"
        [backgroundGradientStopColor] = "'#797272'"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>
</div>