<div class="row">
    <h1 id="titulo">Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Universidad Tecnológica Nacional</h2> <h3> (2019 - 2024)</h3>
            </li>
            <p>
                Ingeniería en Sistemas de Información
            </p>
        </ul>
        <ul>
            <li>
                <h2>Instituto Privado General San Martín</h2> <h3> (2013 - 2018)</h3>
            </li>
            <p>
               Formosa Capital
            </p>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 3</h2> <h3> (years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint porro sed blanditiis eius necessitatibus laudantium soluta deleniti. Animi nostrum perspiciatis magni rerum deleniti quidem excepturi aperiam. Vitae beatae incidunt atque!
            </p>
        </ul>
    </div>
</div>