<div class="row">
    <button type="button" class="btn btn-primary" routerLink="/editacercade/1" *ngIf="isLogged">
        Editar Persona
    </button>
    
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="bio"> 
        <img src={{persona.img}} class="img-fluid" id="profilepic">
        <h4 id="nombre">{{persona.nombre}} {{persona.apellido}}</h4>
        <p id="descripcion">Full Stack Developer Jr.</p>
        <p id="ubicacion">🇦🇷</p>
    </div>
    
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="about">
        <span>
            <h2>Acerca de mi</h2>
            <p>{{persona.descripcion}}</p>
        </span>
    </div>
    </div>