.row{
    padding: 20px;
}



div{
    background-color: #34476ef5;
    text-align: center;
}

#bio{
    background: #C9CCD3;
    background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: lighten;
    

    border: 1.5px outset #000;
}

#about{
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1.5px outset #000;
    font-size: 18px;
    color:#e3eeff
}

@media (min-width: 576px){
    #profilepic{
        border-radius: 100%;
        border: 1.5px outset #000;
        position: absolute;
        width: 15%;
        left: 10%;
        top:470px;
    }
    #nombre{
        font-weight: bold;
        margin-top: 38%;
        }

    #descripcion{
        margin-left: 10px;
    }
}

@media (max-width: 575px){
    #profilepic{
        border-radius: 60%;
        border: 1.5px outset #000;
        position: absolute;
        width: 40%;
        left: 30%;
        top:415px;
    }
    #nombre{
        font-weight: bold;
        margin-top: 25%;
        margin-left: 10px;
    }

}

@media (max-width: 460px){
    #profilepic{
        border-radius: 60%;
        border: 1.5px outset #000;
        position: absolute;
        width: 40%;
        left: 30%;
        top:520px;
    }
}