<div class="row">
    <h1 id="titulo">Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Trabajo 1</h2> <h3> (years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint porro sed blanditiis eius necessitatibus laudantium soluta deleniti. Animi nostrum perspiciatis magni rerum deleniti quidem excepturi aperiam. Vitae beatae incidunt atque!
            </p>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 2</h2> <h3> (years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint porro sed blanditiis eius necessitatibus laudantium soluta deleniti. Animi nostrum perspiciatis magni rerum deleniti quidem excepturi aperiam. Vitae beatae incidunt atque!
            </p>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 3</h2> <h3> (years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint porro sed blanditiis eius necessitatibus laudantium soluta deleniti. Animi nostrum perspiciatis magni rerum deleniti quidem excepturi aperiam. Vitae beatae incidunt atque!
            </p>
        </ul>
    </div>
</div>