<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/header/APLogo.png" id="logoAP">
        </div>

        <div class="redes">
                <a href="https://www.facebook.com/edu.ramirez.3572/" target="_blank"><img src="../../../assets/header/logofb.png" id="facebook"></a>
                <a href="https://twitter.com/ednramirez" target="_blank"><img src="../../../assets/header/logotw.png" id="twitter"></a>
                <a href="https://www.instagram.com/edu.ramirez1/" target="_blank"><img src="../../../assets/header/logoig.png" id="instagram"></a>
                <a href="https://www.last.fm/es/user/eduramirez87" target="_blank"><img src="../../../assets/header/logolast.png" id="lastfm"></a>
                <a href="https://www.linkedin.com/in/eduramirez645/" target="_blank"><img src="../../../assets/header/logolinkedin.png" id="linkedin"></a>
                <a href="https://github.com/deadour" target="_blank"><img src="../../../assets/header/logogit.png" id="github"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>        
        </div>

    </div>
 </div>

