.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes{
    margin-right: 0.5em;
}
#logoAP{
    width: 180px;
}

img{
    width: 45px;
}

@media (max-width:575px){

    .container{
        flex-direction: column;

    }

    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .redes img{
        margin:0.2em
    }

}
