<div class="row">
    <h1 id="titulo">Educación</h1>
    <div class="col-lg-12" id="texto">
        <ul>
            <li>
                <h2>Universidad Tecnológica Nacional</h2> <h3> (2019 - 2024)</h3>
            </li>
            <p>
                Ingeniería en Sistemas de Información
            </p>
        </ul>
        <ul>
            <li>
                <h2>Instituto Privado General San Martín</h2> <h3> (2013 - 2018)</h3>
            </li>
            <p>
               Formosa Capital
            </p>
        </ul>
        <ul>
            <li>
                <h2>Blackpool Instituto de Inglés</h2> <h3> (2013-2018)</h3>
            </li>
            <p>
                Formosa Capital
            </p>
        </ul>
    </div>
</div>