<div class="row">
    <h1 id="titulo">Educación</h1>
    <div class="col-lg-12" id="texto">
        <ul>
            <li>
                
                <h2>Universidad Tecnológica Nacional</h2> <h3> (2019 - 2024)</h3>
            </li>
            <p>
                <img src="../../../assets/educacion/utn.jpg" id="utn">
            Ingeniería en Sistemas de Información.
            </p>
        </ul>
        <ul>
            <li>
                
                <h2>Instituto Privado General San Martín</h2> <h3> (2013 - 2018)</h3>
            </li>
            <p>
                <img src="../../../assets/educacion/ipgsm.png" id="ipgsm">
                Egresado con el título de Perito Mercantil.
            </p>
        </ul>
        <ul>
            <li>
                
                <h2>Blackpool</h2> <h3> (2013-2018)</h3> 
                
            </li>
            <p>
                <img src="../../../assets/educacion/blackpool.png" id="blackpool">
                    Instituto de Inglés en Formosa Capital.
            </p>
        </ul>
    </div>
</div>