.row{
    padding: 80px;
    background-image: linear-gradient(55deg, #23497e 0, #2c477d 25%, #34467c 50%, #3b457b 75%, #414379 100%);
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
} 

.contenedor{
    align-self: center;
    width: auto;
    border: 1.5px groove #000;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    
    


}
.contenedor2{
    align-self: center;
    width: auto;
    border: 1.5px groove #000;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contenedor3{
    align-self: center;
    width: auto;
    border: 1.5px groove #000;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.parte1, .parte2{
    display: inline-block;
    text-align: justify;
    color: #dde5e5;
}

#titulo{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: aliceblue;
    border: 1.5px outset #000;
}

.img-proyecto{
    box-shadow: 10px 10px 30px #000;
    box-shadow: ejeX ejeY difumasion color;
}

#ltc{
    border: #000;
}